zulip:
  environment:
    SETTING_OPEN_REALM_CREATION: "True"
    LOADBALANCER_IPS: "10.42.0.0/16"
    SETTING_EXTERNAL_HOST: "{{ zulip_external_host }}"
    SETTING_ZULIP_ADMINISTRATOR: "{{ zulip_admin_email }}"
    SETTING_EMAIL_HOST: "{{ zulip_email_host }}"
    SETTING_EMAIL_HOST_USER: "{{ zulip_email_host_user }}"
    SETTING_EMAIL_PORT: "{{ zulip_email_port }}"
    SETTING_EMAIL_USE_TLS: "{{ zulip_email_use_tls }}"
    SECRETS_email_password: "{{ zulip_email_password }}"
    SECRETS_secret_key: "{{ zulip_secret_key }}"

memcached:
  memcachedPassword: "{{ zulip_memcached_password }}"

rabbitmq:
  auth:
    password: "{{ zulip_rabbitmq_password }}"
    erlangCookie: "{{ zulip_rabbitmq_erlang_cookie }}"

redis:
  auth:
    password: "{{ zulip_redis_password }}"

postgresql:
  auth:
    postgresqlPassword: "{{ zulip_postgres_superuser_password }}"
    password: "{{ zulip_postgres_password }}"
